In [16]:
import pandas as pd
d={'Mouse':[150,200,300,400],'Keyboard':[180,200,190,300],'Scanner':[200,280,330,450]}
df = pd.DataFrame(d,index =['Jan','Feb','March','April'])
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [8]:
#A.	Write code to access data of Mouse and Scanner columns.
df[['Mouse','Scanner']]

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [9]:
#B.	Write code to access data of the Keyboard column using dot notation and column name
df.Keyboard

Jan      180
Feb      200
March    190
April    300
Name: Keyboard, dtype: int64

In [37]:
#C.	Write code to access data of scanners using loc[].
df.loc[:,'Scanner']

Jan      200
Feb      280
March    330
April    450
Name: Scanner, dtype: int64

In [20]:
#D.	Write code to access data of all columns where mouse data is more than 200.
df[df['Mouse'] > 200]

       Mouse  Keyboard  Scanner
March    300       190      330
April    400       300      450

In [30]:
#E.	Write code to access columns using 0 and 2
df.iloc[:,0:2]

       Mouse  Keyboard
Jan      150       180
Feb      200       200
March    300       190
April    400       300

In [35]:
#F.	Write code to access data of rows of jan and march for scanner and keyboard
df.iloc[0:3:2, 1:]

       Keyboard  Scanner
Jan         180      200
March       190      330