In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\crama\Downloads\adult.csv")
df.shape

df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
#1.	How many men and women (sex feature) are represented in this dataset?
df['gender'].value_counts()

 Male      21790
 Female    10771
Name: gender, dtype: int64

In [3]:
#2.	What is the average age (age feature) of women?
df[df['gender'].str.contains('Female')].age.mean()

36.85823043357163

In [4]:
#3.	What is the percentage of German citizens (native-country feature)?
((df[df['native-country'].str.contains('Germany')].shape[0])/df.shape[0])*100

0.42074874850281013

In [5]:
#4.	What are the mean and standard deviation of age for those who earn more
#than 50K per year (salary feature) and those who earn less than 50K per year?

mean_above50K = df[df['income'].str.contains('>50K')].age.mean()
std_above50K = df[df['income'].str.contains('>50K')].age.std()
mean_below50K = df[df['income'].str.contains('<=50K')].age.mean()
std_below50K = df[df['income'].str.contains('<=50K')].age.std()
print('mean_above50K =',mean_above50K,'std_above50K =',std_above50K,'mean_below50K =',mean_below50K,'std_below50K =',std_below50K)

mean_above50K = 44.24984058155847 std_above50K = 10.51902771985177 mean_below50K = 36.78373786407767 std_below50K = 14.020088490824813

In [6]:
#5.	 Is it true that people who earn more than 50K have at least a high 
#school education? (education â€“ Bachelors, Prof-school, Assoc-acdm, 
#Assoc-voc, Masters or Doctorate feature)

df[df['income'].str.contains('>50K')].education.value_counts()

 Bachelors       2221
 HS-grad         1675
 Some-college    1387
 Masters          959
 Prof-school      423
 Assoc-voc        361
 Doctorate        306
 Assoc-acdm       265
 10th              62
 11th              60
 7th-8th           40
 12th              33
 9th               27
 5th-6th           16
 1st-4th            6
Name: education, dtype: int64

In [7]:
#6.	Display age statistics for each race (race feature) 
#and each gender (sex feature). Use groupby() and describe(). 
#Find the maximum age of men of Amer-Indian-Eskimo race

df[df['gender'].str.contains('Male')].groupby(['race']).age.describe()

,count,mean,std,min,25%,50%,75%,max
race,,,,,,,,
Amer-Indian-Eskimo,192.0,37.208333,12.049563,17.0,28.0,35.0,45.0,82.0
Asian-Pac-Islander,693.0,39.073593,12.883944,18.0,29.0,37.0,46.0,90.0
Black,1569.0,37.682600,12.882612,17.0,27.0,36.0,46.0,90.0
Other,162.0,34.654321,11.355531,17.0,26.0,32.0,42.0,77.0
White,19174.0,39.652498,13.436029,17.0,29.0,38.0,49.0,90.0

In [8]:
df_married = df[df['marital-status'].str.contains('Married')]
df_married['marital-status'].value_counts()

 Married-civ-spouse       14976
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital-status, dtype: int64

In [9]:
df_b = df[df['marital-status'].str.contains('Married')==False]
df_b['marital-status'].value_counts()

 Never-married    10683
 Divorced          4443
 Separated         1025
 Widowed            993
Name: marital-status, dtype: int64

In [11]:
df_married[df['income'].str.contains('>50K')].value_counts().sum()

C:\Users\crama\AppData\Local\Temp\ipykernel_21248\1250170213.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_married[df['income'].str.contains('>50K')].value_counts().sum()

6736

In [12]:
df_b[df['income'].str.contains('>50K')].value_counts().sum()

C:\Users\crama\AppData\Local\Temp\ipykernel_21248\2003421946.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_b[df['income'].str.contains('>50K')].value_counts().sum()

1105

In [14]:
#What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?
df['hours-per-week'].describe()

count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours-per-week, dtype: float64

In [18]:
df_maxhrs = df[df['hours-per-week']==99]

In [20]:
((df_maxhrs[df_maxhrs['income'].str.contains('>50K')].shape[0])/df_maxhrs.shape[0])*100

29.411764705882355

In [ ]:
#9.	Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [34]:
#10.Find out the total number of hours worked and mean salary as per different occupations.
hours = (df.groupby(['occupation']))['hours-per-week'].sum()
(df.groupby(['occupation']))['income']